<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title} ?: 'Family Budget'">Family Budget</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body class="bg-dark">
<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/family/welcome}">
            <img th:src="@{/images/paw.svg}" alt="Logo" width="30" height="30" class="img-fluid d-inline-block align-text-top">
            KittyCash
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/kitty-cash/welcome}">Главная</a>
                </li>
                <!--                Админ-->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/transactions}" sec:authorize="hasRole('ADMIN')">Транзакции</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/info}" sec:authorize="hasRole('ADMIN')">Профиль</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/users}" sec:authorize="hasRole('ADMIN')">Группа</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/stats}" sec:authorize="hasRole('ADMIN')">Статистика</a>
                </li>

                <!--                Юзер-->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/transactions}" sec:authorize="hasRole('USER')">Транзакции</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/info}" sec:authorize="hasRole('USER')">Профиль</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/stats}" sec:authorize="hasRole('USER')">Статистика</a>
                </li>

                <!--                Ридер-->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/reader/transactions}" sec:authorize="hasRole('READER')">Транзакции</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/reader/info}" sec:authorize="hasRole('READER')">Профиль</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/reader/users}" sec:authorize="hasRole('READER')">Группа</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/reader/stats}" sec:authorize="hasRole('READER')">Статистика</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" th:href="@{/kitty-cash/about}">О проекте</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/auth/logout}" sec:authorize="isAuthenticated()">Выйти</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main class="d-flex justify-content-center align-items-center vh-100 text-white">
    <div class="w-100" style="max-width: 400px;">
        <!-- Форма для неавторизованных пользователей -->
        <form sec:authorize="!isAuthenticated()" th:action="@{/auth/login}" method="post">
            <h1 class="h3 mb-3 fw-bold text-white">Вход</h1>
            <div class="form-floating mb-3">
                <input id="floatingInput" type="text" class="form-control" name="username">
                <label for="floatingInput">Имя пользователя</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" name="password" class="form-control" id="floatingPassword1">
                <label for="floatingPassword1">Пароль</label>
            </div>
            <button type="submit" class="btn btn-primary w-100 py-2">Войти</button>
        </form>

        <!-- Сообщение для авторизованных пользователей -->
        <div sec:authorize="isAuthenticated()" class="text-center py-5">
            <h1 class="display-5 fw-bold">Вы уже вошли в свой аккаунт!</h1>
            <button th:onclick="|location.href='@{/auth/logout}'|" type="button" class="btn btn-light btn-lg px-4 me-sm-3 fw-bold">
                Выйти
            </button>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>