<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="${title} ?: 'Family Budget'">Family Budget</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <nav>
        <a th:href="@{/}">Главная</a>
        <a th:href="@{/transactions}" sec:authorize="hasRole('USER')">Мои транзакции</a>
        <a th:href="@{/statistics}" sec:authorize="hasRole('USER')">Статистика</a>
        <a th:href="@{/admin/dashboard}" sec:authorize="hasRole('ADMIN')">Админка</a>
        <a th:href="@{/logout}" sec:authorize="isAuthenticated()">Выйти</a>
        <a th:href="@{/login}" sec:authorize="!isAuthenticated()">Войти</a>
    </nav>
</header>
<h2>Управление пользователями</h2>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Email</th>
        <th>Роль</th>
        <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="u : ${users}">
        <td th:text="${u.id}"></td>
        <td th:text="${u.username}"></td>
        <td th:text="${u.email}"></td>
<!--        <td>-->
<!--            <span th:each="r : ${u.roles}" th:text="${r.name}" th:append=", "></span>-->
<!--        </td>-->
<!--        <td>-->
<!--            <form th:action="@{/admin/users/{id}/role(id=${u.id})}" method="post">-->
<!--                <select name="role">-->
<!--                    <option th:value="ROLE_USER"-->
<!--                            th:selected="${u.roles.?[name == 'ROLE_USER'].size() > 0}">-->
<!--                        USER-->
<!--                    </option>-->
<!--                    <option th:value="ROLE_ADMIN"-->
<!--                            th:selected="${u.roles.?[name == 'ROLE_ADMIN'].size() > 0}">-->
<!--                        ADMIN-->
<!--                    </option>-->
<!--                </select>-->
<!--                <button type="submit">Сохранить</button>-->
<!--            </form>-->
<!--        </td>-->
    </tr>
    </tbody>
</table>

</body>
</html>