<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title} ?: 'KittyCash'">KittyCash</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body class="bg-dark">
<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/kitty-cash/welcome}">
            <img th:src="@{/images/paw.svg}" alt="Logo" width="30" height="30" class="img-fluid d-inline-block align-text-top">
            KittyCash
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/kitty-cash/welcome}">Главная</a>
                </li>
                <!--                Админ-->
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/transactions/my}">Транзакции</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/info}">Профиль</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/users}">Группа</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/stats}">Статистика</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/kitty-cash/about}">О проекте</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Выйти</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main class="d-flex vh-100 text-white p-3">
    <!-- Левая часть: таблица -->
    <div class="flex-shrink-0" style="width: 80%; padding-right: 20px;">
        <h2 class="text-center fw-bold text-white">
            Транзакции группы
        </h2>
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Дата</th>
                <th scope="col">Сумма</th>
                <th scope="col">Описание</th>
                <th scope="col">Категория</th>
                <th scope="col">Пользователь</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="t : ${trans}">
                <td th:text="${t.id}"></td>
                <td th:text="${t.date}"></td>
                <td th:text="${t.amount}"></td>
                <td th:text="${t.description}"></td>
                <td th:text="${t.category.name}"></td>
                <td th:text="${t.category.name}"></td>

            </tr>
            </tbody>
        </table>
    </div>

    <!-- Правая часть: карточка -->
    <div class="flex-grow-1 d-flex justify-content-end align-items-start">
        <div class="card bg-dark text-white shadow-lg" style=" height: 93%; border-radius: 15px; padding: 20px;">
            <button th:onclick="|location.href='@{/transactions/my}'|" type="button" class="btn btn-outline-light btn-lg px-4">
                К моим транзакциям
            </button>
            <h2> <br></h2>
            <h5 class="card-title">Изменить описание</h5>
            <form th:action="@{/transactions/add}" method="post" class="d-flex flex-column h-80"
                  th:object="${transaction}">
                <div class="mb-3">
                    <label for="id" class="form-label">ID</label>
                    <input type="number" id="id" name="id" class="form-control"
                           th:field="*{id}">
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Описание</label>
                    <input type="text" id="description" name="description" class="form-control">
                </div>
                <button type="submit" class="btn btn-light mt-auto">Изменить</button>
            </form>
            <h2> <br></h2>
            <h5 class="card-title">Удалить транзакцию пользователя</h5>
            <form th:action="@{/transactions/add}" method="post" class="d-flex flex-column h-80"
                  th:object="${transaction}">
                <div class="mb-3">
                    <label for="id2" class="form-label">ID</label>
                    <input type="number" id="id2" name="id2" class="form-control"
                           th:field="*{id2}">
                </div>

                <button type="submit" class="btn btn-light mt-auto">Удалить</button>
            </form>

        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>