<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title} ?: 'KittyCash'">KittyCash</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body id="header">
<header class="header center">
    <nav class="navigation">
        <div class="navLogoName">
            <a class="navLogo" th:href="@{/kitty-cash/welcome}"> <img th:src="@{/images/paw 1.svg}" alt="Logo"></a>
            <a class="navName" th:href="@{/kitty-cash/welcome}">KittyCash</a>
        </div>
        <div class="navigationLinks">
            <a th:href="@{/kitty-cash/welcome}">Главная</a>
            <a class="activeLink" th:href="@{kitty-cash/profile}">Профиль</a>
            <a th:href="@{kitty-cash/group}"
            sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_READER')">Группа</a>
            <a th:href="@{/transactions/my}">Транзакции</a>
            <a th:href="@{/statistics/my}">Статистика</a>
            <a th:href="@{auth/logout}">Выход</a>
        </div>
    </nav>
</header>
<main class="main center">
    <div class="userCard">
        <div class="userImageAndName">
            <div class="userImage">
                <img th:src="@{/images/userImage.svg}" alt="userImage">
            </div>
            <div class="userName">
                <p>@<span th:text="${user.username}">ivan</span></p>
            </div>
        </div>
        <div>
            <h1></h1>
            <h1></h1>
            <h1></h1>
        </div>
        <div>
            <div></div>
            <div>
                <button></button>
                <button></button>
            </div>
        </div>
    </div>
</main>
</body>
</html>