<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title} ?: 'KittyCash'">KittyCash</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body class="bg-dark">
<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/kitty-cash/welcome}">
            <img th:src="@{/images/paw.svg}" alt="Logo" width="30" height="30" class="img-fluid d-inline-block align-text-top">
            KittyCash
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/kitty-cash/welcome}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/transactions/my}" sec:authorize="isAuthenticated()">Транзакции</a>
                </li>
                <!--                Админ-->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/info}" sec:authorize="hasRole('ADMIN')">Профиль</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/users}" sec:authorize="hasRole('ADMIN')">Группа</a>
                </li>

                <!--                Юзер-->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/info}" sec:authorize="hasRole('USER')">Профиль</a>
                </li>

                <!--                Ридер-->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/reader/info}" sec:authorize="hasRole('READER')">Профиль</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/reader/users}" sec:authorize="hasRole('READER')">Группа</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/statistics/my}" sec:authorize="isAuthenticated()">Статистика</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/kitty-cash/about}">О проекте</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}" sec:authorize="isAuthenticated()">Выйти</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main class="d-flex vh-100 text-white p-3">
    <!-- Левая часть: таблица -->
    <div class="flex-shrink-0" style="width: 80%; padding-right: 20px;">
        <h2 class="text-center fw-bold text-white">
            Личные транзакции
        </h2>
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Дата</th>
                <th scope="col">Сумма</th>
                <th scope="col">Описание</th>
                <th scope="col">Категория</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="t : ${trans}">
                <td th:text="${t.id}"></td>
                <td th:text="${#temporals.format(t.date, 'dd.MM.yyyy HH:mm')}"></td>
                <td th:text="${t.amount}"></td>
                <td th:text="${t.description}"></td>
                <td th:text="${t.category != null ? t.category.name : 'Без категории'}"></td>
                <td>
                    <form th:action="@{/transactions/update/{id}(id=${t.id})}"
                          method="get"
                          style="display:inline;">
                        <button type="submit" class="btn btn-outline-light">Редактировать</button>
                    </form>
                    <form th:action="@{/transactions/delete/{id}(id=${t.id})}"
                          method="post"
                          style="display:inline;">
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </td>

            </tr>
            </tbody>
        </table>
    </div>

    <!-- Правая часть: карточка -->
    <div class="flex-grow-1 d-flex justify-content-end align-items-start">
        <div class="card bg-dark text-white shadow-lg" style=" height: 93%; border-radius: 15px; padding: 20px;">
            <button sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_READER')" th:onclick="|location.href='@{/transactions/group}'|" type="button" class="btn btn-outline-light btn-lg px-4">
                К транзакциям группы
            </button>
            <h2> <br></h2>
            <h5 class="card-title">Добавить транзакцию(доход)</h5>
            <form th:action="@{/transactions/add}" method="post" class="d-flex flex-column h-80"
                  th:object="${transaction}">
                <div class="mb-3">
                    <label for="amount" class="form-label">Сумма</label>
                    <input type="number" id="amount" name="amount" class="form-control"
                           th:field="*{amount}" min="0" step="10">
                </div>
                <div class="mb-3">
                    <label for="type" class="form-label">Тип</label>
                    <select id="type" name="type" class="form-select">
                        <option value="Зарплата">Зарплата</option>
                        <option value="Возврат долгов">Возврат долгов</option>
                        <option value="Пассивный доход">Пассивный доход</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Описание</label>
                    <input type="text" id="description" name="description" class="form-control">
                </div>
                <button type="submit" class="btn btn-light mt-auto">Добавить</button>
            </form>
            <h2> <br></h2>
            <h5 class="card-title">Добавить транзакцию(расход)</h5>
            <form th:action="@{/transactions/add}" method="post" class="d-flex flex-column h-80"
                  th:object="${transaction}">
                <div class="mb-3">
                    <label for="amount2" class="form-label">Сумма</label>
                    <input type="number" id="amount2" name="amount" class="form-control"
                           th:field="*{amount}" min="0" step="10">
                </div>
                <div class="mb-3">
                    <label for="type2" class="form-label">Тип</label>
                    <select id="type2" name="type" class="form-select">
                        <option value="Дом">Дом</option>
                        <option value="Здоровье">Здоровье</option>
                        <option value="Еда">Еда</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="description2" class="form-label">Описание</label>
                    <input type="text" id="description2" name="description" class="form-control">
                </div>
                <button type="submit" class="btn btn-light mt-auto">Добавить</button>
            </form>

        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>